# Machine Learning Fall 2024 : Python Revision Lab

## Modules

Most of the functionality in Python is provided by *modules*. The Python Standard Library is a large collection of modules that provides *cross-platform* implementations of common facilities such as access to the operating system, file I/O, string management, network communication, and much more.

In [1]:
import math

This includes the whole module and makes it available for use later in the program. For example, we can do:

In [5]:
import math

x = math.cos(2 * math.pi)

print(x)

1.0

Alternatively, we can chose to import all symbols (functions and variables) in a module to the current namespace (so that we don't need to use the prefix "`math.`" every time we use something from the `math` module:

In [7]:
from math import *


x = cos(2 * pi)

print(x)

1.0 Yahia

This pattern can be very convenient, but in large programs that include many modules it is often a good idea to keep the symbols from each module in their own namespaces, by using the `import math` pattern. This would elminate potentially confusing problems with name space collisions.

As a third alternative, we can chose to import only a few selected symbols from a module by explicitly listing which ones we want to import instead of using the wildcard character `*`:

In [8]:
from math import cos, pi

x = cos(2 * pi)

print(x)

1.0

### Looking at what a module contains, and its documentation

Once a module is imported, we can list the symbols it provides using the `dir` function:

In [9]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

And using the function `help` we can get a description of each function (almost .. not all functions have docstrings, as they are technically called, but the vast majority of functions are documented this way).

In [10]:
help(math.log)

Help on built-in function log in module math:

log(...)
    log(x, [base=math.e])
    Return the logarithm of x to the given base.

    If the base is not specified, returns the natural logarithm (base e) of x.

In [7]:
log(10)

2.302585092994046

In [8]:
log(10, 2)

3.3219280948873626

In [9]:
help(cos)

Help on built-in function cos in module math:

cos(x, /)
    Return the cosine of x (measured in radians).

We can also use the `help` function directly on modules: Try

    help(math)

Some very useful modules form the Python standard library are `os`, `sys`, `math`, `shutil`, `re`, `subprocess`, `multiprocessing`, `threading`.

A complete lists of standard modules for Python 2 and Python 3 are available at http://docs.python.org/2/library/ and http://docs.python.org/3/library/, respectively.

## Variables and types

### Symbol names

Variable names in Python can contain alphanumerical characters `a-z`, `A-Z`, `0-9` and some special characters such as `_`. Normal variable names must start with a letter.

By convention, variable names start with a lower-case letter, and Class names start with a capital letter.

In addition, there are a number of Python keywords that cannot be used as variable names. These keywords are:

    and, as, assert, break, class, continue, def, del, elif, else, except,
    exec, finally, for, from, global, if, import, in, is, lambda, not, or,
    pass, print, raise, return, try, while, with, yield

Note: Be aware of the keyword `lambda`, which could easily be a natural variable name in a scientific program. But being a keyword, it cannot be used as a variable name.

### Assignment



The assignment operator in Python is `=`. Python is a dynamically typed language, so we do not need to specify the type of a variable when we create one.

Assigning a value to a new variable creates the variable:

In [10]:
# variable assignments
x = 1
my_variable = 12.2

Although not explicitly specified, a variable does have a type associated with it. The type is derived from the value that was assigned to it.

In [11]:
type(x)

int

If we assign a new value to a variable, its type can change.

In [12]:
x = 1

In [13]:
type(x)

int

If we try to use a variable that has not yet been defined we get an `NameError`:

In [14]:
print(y)

NameError: name 'y' is not defined

### Fundamental types

In [80]:
# integers
x = 1
type(x)

int

In [81]:
# float
x = 1.0
type(x)

float

In [82]:
# boolean
b1 = True
b2 = False

type(b1)

bool

### Type validation

In [83]:
x = 1.0

# check if the variable x is a float
type(x) is float

True

In [84]:
# check if the variable x is an int
type(x) is int

False

We can also use the `isinstance` method for testing types of variables:

In [85]:
isinstance(x, float)

True

In [86]:
type(x)==int

False

### Type casting

In [87]:
x =1.5

print(x, type(x))

1.5 <class 'float'>

In [88]:
int(1.5)

1

In [89]:
x = float(3)
print(x)

3.0

Complex variables cannot be cast to floats or integers. We need to use `z.real` or `z.imag` to extract the part of the complex number we want:

## Operators and comparisons

Most operators and comparisons in Python work as one would expect:

* Arithmetic operators `+`, `-`, `*`, `/`, `//` (integer division), '**' power

In [90]:
1 + 2, 1 - 2, 1 * 2, 1 / 2

(3, -1, 2, 0.5)

In [91]:
1.0 + 2.0, 1.0 - 2.0, 1.0 * 2.0, 3.0 // 2.0, 2**2

(3.0, -1.0, 2.0, 1.0, 4)

In [92]:
# Integer division of float numbers
7.0 // 2.0

3.0

In [93]:
# Note! The power operators in python isn't ^, but **
2 ** 2

4

Note: The `/` operator always performs a floating point division in Python 3.x.
This is not true in Python 2.x, where the result of `/` is always an integer if the operands are integers.
to be more specific, `1/2 = 0.5` (`float`) in Python 3.x, and `1/2 = 0` (`int`) in Python 2.x (but `1.0/2 = 0.5` in Python 2.x).

* The boolean operators are spelled out as the words `and`, `not`, `or`.

In [94]:
True and False

False

In [95]:
not False

True

In [96]:
True or False

True

* Comparison operators `>`, `<`, `>=` (greater or equal), `<=` (less or equal), `==` equality, `is` identical.

In [97]:
2 > 1, 2 < 1

(True, False)

In [98]:
2 > 2, 2 < 2

(False, False)

In [99]:
2 >= 2, 2 <= 2

(True, True)

In [100]:
2!=3

True

In [101]:
# equality
[1,2] == [1,2]
#[1,2] == [2,1]

True

In [102]:
{2,3} == {3,2}

True

## Compound types: Strings, List and dictionaries

### Strings

Strings are the variable type that is used for storing text messages.

In [103]:
s = "Hello world"
type(s)

str

In [104]:
# length of the string: the number of characters
len(s)

11

In [105]:
# replace a substring in a string with something else
s2 = s.replace("world", "test")
print(s2)

Hello test

In [106]:
st = "hello ______________________world"

## remove "_" from st
s2 = s.replace("______________________", "")
print(s2)

Hello world

We can index a character in a string using `[]`:

In [107]:
s[0]

'H'

We can extract a part of a string using the syntax `[start:stop]`, which extracts characters between index `start` and `stop` -1 (the character at index `stop` is not included):

In [108]:
s[0:5]

'Hello'

In [109]:
s[4:5]

'o'

If we omit either (or both) of `start` or `stop` from `[start:stop]`, the default is the beginning and the end of the string, respectively:

In [110]:
s[:5]

'Hello'

In [111]:
s[6:]

'world'

In [112]:
s[:]

'Hello world'

We can also define the step size using the syntax `[start:end:step]` (the default value for `step` is 1, as we saw above):

In [113]:
s[::1]

'Hello world'

In [114]:
s[::2]

'Hlowrd'

#### String formatting examples "fstrings"

In [115]:
a = "Hello"
b = 1000
c = 9.5

In [116]:
print(f"variable a = {a} \nvariable b = {b} \nvariable c = {c}")

variable a = Hello
variable b = 1000
variable c = 9.5

### List

Lists are very similar to strings, except that each element can be of any type.

The syntax for creating lists in Python is `[...]`:

In [117]:
l = [1,2,3,4]

print(type(l))

print(l)

<class 'list'>
[1, 2, 3, 4]

We can use the same slicing techniques to manipulate lists as we could use on strings:

![fig1.png]()

In [118]:
print(l)

print(l[1:3])

print(l[::2])

print(l[::-1])

[1, 2, 3, 4]
[2, 3]
[1, 3]
[4, 3, 2, 1]

In [119]:
l[0]

1

Elements in a list do not all have to be of the same type:

In [120]:
l = [1, 'a', 1.0, 1-1j]

print(l)

[1, 'a', 1.0, (1-1j)]

Python lists can be inhomogeneous and arbitrarily nested:

In [121]:
nested_list = [[1,2],[3,4]]

nested_list

[[1, 2], [3, 4]]

In [122]:
print(nested_list[0][0])

1

Lists play a very important role in Python. For example they are used in loops and other flow control structures (discussed below). There are a number of convenient functions for generating lists of various types, for example the `range` function:

In [123]:
start = 10
stop = 30
step = 2

range(start, stop, step)

range(10, 30, 2)

In [124]:
# in python 3 range generates an iterator, which can be converted to a list using 'list(...)'.
# It has no effect in python 2
list(range(start, stop, step))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [125]:
list(range(-10, 10))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [126]:
s = "hello world"

In [127]:
# convert a string to a list by type casting:
s2 = list(s)

s2

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [128]:
# sorting lists
s2.sort()

print(s2)

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

#### Adding, inserting, modifying, and removing elements from lists

In [129]:
# create a new empty list
l = []

# add an elements using `append`
l.append("A")
l.append("d")
l.append("d")

print(l)

['A', 'd', 'd']

We can modify lists by assigning new values to elements in the list. In technical jargon, lists are *mutable*.

In [130]:
l[1] = "p"
l[2] = "p"

print(l)

['A', 'p', 'p']

In [131]:
l[1:3] = ["d", "d"]

print(l)

['A', 'd', 'd']

Insert an element at an specific index using `insert`

In [132]:
l.insert(0, "i")
l.insert(1, "n")
l.insert(2, "s")
l.insert(3, "e")
l.insert(4, "r")
l.insert(5, "t")

print(l)

['i', 'n', 's', 'e', 'r', 't', 'A', 'd', 'd']

Remove first element with specific value using 'remove'

In [133]:
l.remove("d")

print(l)

['i', 'n', 's', 'e', 'r', 't', 'A', 'd']

Remove an element at a specific location using `del`:

In [134]:
del l[7]
del l[6]

print(l)

['i', 'n', 's', 'e', 'r', 't']

See `help(list)` for more details, or read the online documentation

When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

You can make this code simpler using a list comprehension:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

List comprehensions can also contain conditions:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

### Tuples

Tuples are like lists, except that they cannot be modified once created, that is they are *immutable*.

In Python, tuples are created using the syntax `(..., ..., ...)`, or even `..., ...`:

In [135]:
point = (10, 20)

print(point, type(point))

(10, 20) <class 'tuple'>

In [136]:
point = 10, 20

print(point, type(point))

(10, 20) <class 'tuple'>

We can unpack a tuple by assigning it to a comma-separated list of variables:

In [137]:
x, y = point

print("x =", x)
print("y =", y)

x = 10
y = 20

If we try to assign a new value to an element in a tuple we get an error:

In [138]:
point[0] = 20

TypeError: 'tuple' object does not support item assignment

The error message TypeError: 'tuple' object does not support item assignment indicates that you are trying to modify an element of a tuple, which is not allowed. Tuples are immutable in Python, meaning their elements cannot be changed.

In [139]:
## try a tuple containing a list
t = ([1,2,3], 'Hello')
print(t)

([1, 2, 3], 'Hello')

In [140]:
#change the list to [4,5]
t[0]=[4,5]

TypeError: 'tuple' object does not support item assignment

### Dictionaries

Dictionaries are also like lists, except that each element is a key-value pair. The syntax for dictionaries is `{key1 : value1, ...}`:
Dictionaries are mutable

In [141]:
params = {"parameter1" : 1.0,
          "parameter2" : 2.0,
          "parameter3" : 3.0,}

print(type(params))
print(params)

<class 'dict'>
{'parameter1': 1.0, 'parameter2': 2.0, 'parameter3': 3.0}

In [142]:
print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))

parameter1 = 1.0
parameter2 = 2.0
parameter3 = 3.0

In [143]:
params["parameter1"] = "A"
params["parameter2"] = "B"

# add a new entry
params["parameter4"] = "D"

print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))
print("parameter4 = " + str(params["parameter4"]))

parameter1 = A
parameter2 = B
parameter3 = 3.0
parameter4 = D

Dictionary comprehensions: These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

# Sets

A set is an unordered collection of distinct elements.Sets are mutable. As a simple example, consider the following:

In [144]:
animals = {'cat', 'dog'}
print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"
animals.add('fish')       # Add an element to a set
print('fish' in animals)  # Prints "True"
print(len(animals))       # Number of elements in a set; prints "3"
animals.add('cat')        # Adding an element that is already in the set does nothing
print(len(animals))       # Prints "3"
animals.remove('cat')     # Remove an element from a set
print(len(animals))       # Prints "2"

True
False
True
3
3
2

In [145]:
S1={1,2,3}
S2={3,4,5}
S1.intersection(S2)

{3}

In [146]:
S1.union(S2)

{1, 2, 3, 4, 5}

*Loops*: Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [ ]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#1: dog
#2: fish
#3: cat

Set comprehensions: Like lists and dictionaries, we can easily construct sets using set comprehensions:

In [ ]:
from math import sqrt
print({int(sqrt(x)) for x in range(30)})

{0, 1, 2, 3, 4, 5}

## Control Flow

### Conditional statements: if, elif, else

The Python syntax for conditional execution of code uses the keywords `if`, `elif` (else if), `else`:

In [ ]:
statement1 = False
statement2 = False

if statement1:
  print("statement1 is True")

elif statement2:
    print("statement2 is True")

else:
    print("statement1 and statement2 are False")

For the first time, here we encounted a peculiar and unusual aspect of the Python programming language: Program blocks are defined by their indentation level.

Compare to the equivalent C code:

    if (statement1)
    {
        printf("statement1 is True\n");
    }
    else if (statement2)
    {
        printf("statement2 is True\n");
    }
    else
    {
        printf("statement1 and statement2 are False\n");
    }

In C blocks are defined by the enclosing curly brakets `{` and `}`. And the level of indentation (white space before the code statements) does not matter (completely optional).

But in Python, the extent of a code block is defined by the indentation level (usually a tab or say four white spaces). This means that we have to be careful to indent our code correctly, or else we will get syntax errors.

#### Examples:

In [147]:
statement1 = statement2 = True

if statement1:
    if statement2:
        print("both statement1 and statement2 are True")

both statement1 and statement2 are True

In [148]:
# Bad indentation!
if statement1:
    if statement2:
    print("both statement1 and statement2 are True")  # this line is not properly indented

IndentationError: expected an indented block after 'if' statement on line 3 (<ipython-input-148-ac4109c9123a>, line 4)

In [149]:
statement1 = False

if statement1:
    print("printed if statement1 is True")
    print("still inside the if block")

In [150]:
if statement1:
    print("printed if statement1 is True")

print("now outside the if block")

now outside the if block

## Loops

In Python, loops can be programmed in a number of different ways. The most common is the `for` loop, which is used together with iterable objects, such as lists. The basic syntax is:

### **`for` loops**:

In [151]:
for x in [1,2,3]:
    print(x)

1
2
3

The `for` loop iterates over the elements of the supplied list, and executes the containing block once for each element. Any kind of list can be used in the `for` loop. For example:

In [152]:
for x in range(4): # by default range start at 0
    print(x)

0
1
2
3

Note: `range(4)` does not include 4 !

In [153]:
for x in range(-3,3):
    print(x)

-3
-2
-1
0
1
2

In [154]:
for word in ["scientific", "computing", "with", "python"]:
    print(word)

scientific
computing
with
python

To iterate over key-value pairs of a dictionary:

In [155]:
for key, value in params.items():
    print(key + " = " + str(value))

parameter1 = A
parameter2 = B
parameter3 = 3.0
parameter4 = D

Sometimes it is useful to have access to the indices of the values when iterating over a list. We can use the `enumerate` function for this:

In [156]:
for idx, x in enumerate(range(-3,3)):
    print(idx, x)

0 -3
1 -2
2 -1
3 0
4 1
5 2

### List comprehensions: Creating lists using `for` loops:

A convenient and compact way to initialize lists:

In [157]:
l1 = [x**2 for x in range(0,5)]

print(l1)

[0, 1, 4, 9, 16]

In [158]:
# List comprehensions filtering and conditioning
# filter the even numbers
l=[x for x in range(100) if x%2==0]
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

### `while` loops:

In [159]:
i = 0

while i < 5:
    print(i)

    i = i + 1

print("done")

0
1
2
3
4
done

Note that the `print("done")` statement is not part of the `while` loop body because of the difference in indentation.

## Functions

A function in Python is defined using the keyword `def`, followed by a function name, a signature within parentheses `()`, and a colon `:`. The following code, with one additional level of indentation, is the function body.

In [160]:
def func0():
    print("test")

In [161]:
func0()

test

Optionally, but highly recommended, we can define a so called "docstring", which is a description of the functions purpose and behaivor. The docstring should follow directly after the function definition, before the code in the function body.

In [162]:
def func1(s):
    """
    Print a string 's' and tell how many characters it has
    """

    print(s + " has " + str(len(s)) + " characters")

In [163]:
help(func1)

Help on function func1 in module __main__:

func1(s)
    Print a string 's' and tell how many characters it has

In [164]:
func1("test")

test has 4 characters

Functions that returns a value use the `return` keyword:

In [165]:
def square(x):
    """
    Return the square of x.
    """
    return x ** 2

In [166]:
square(4)

16

We can return multiple values from a function using tuples (see above):

In [167]:
def powers(x):
    """
    Return a few powers of x.
    """
    return x ** 2, x ** 3, x ** 4

In [168]:
powers(3)

(9, 27, 81)

In [169]:
x2, x3, x4 = powers(3)

print(x3)

27

In [170]:
POW = lambda x: x**2
POW(3)

9

In [171]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

### Default argument and keyword arguments

In a definition of a function, we can give default values to the arguments the function takes:

In [172]:
def myfunc(x, p=2, debug=False):
    if debug:
        print("evaluating myfunc for x = " + str(x) + " using exponent p = " + str(p))
    return x**p

If we don't provide a value of the `debug` argument when calling the the function `myfunc` it defaults to the value provided in the function definition:

In [173]:
myfunc(5)

25

In [174]:
myfunc(5,3, debug=True)

evaluating myfunc for x = 5 using exponent p = 3

125

If we explicitly list the name of the arguments in the function calls, they do not need to come in the same order as in the function definition. This is called *keyword* arguments, and is often very useful in functions that takes a lot of optional arguments.

In [175]:
myfunc(p=3, debug=True, x=7)

evaluating myfunc for x = 7 using exponent p = 3

343

### Classes

The syntax for defining classes in Python is straightforward:

In [ ]:
class Greeter:

    # Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable

    # Instance method
    def greet(self, loud=False):
        if loud:
          print('HELLO, {}'.format(self.name.upper()))
        else:
          print('Hello, {}!'.format(self.name))

g = Greeter('Fred')  # Construct an instance of the Greeter class
g.greet()            # Call an instance method; prints "Hello, Fred"
g.greet(loud=True)   # Call an instance method; prints "HELLO, FRED!"

Hello, Fred!
HELLO, FRED

Reference: https://github.com/cs231n/cs231n.github.io/blob/master/jupyter-notebook-tutorial.ipynb