# CIT650: Introduction to Big Data (Lab #3: Spark)

Spark RDDs, Spark DataFrames, Spark SQL, and Spark MLlib

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 1.7 MB/s eta 0:00:0000:0100:03
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 1.6 MB/s eta 0:00:00a 0:00:01m
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=db7314d361c6ce1834b0235783e0a5122a676398c2dd0121ebecfa014b1a832d
  Stored in directory: /home/jovyan/.cache/pip/wheels/95/13/41/f7f135ee114175605fb4f0a89e7389f3742aa6c1e1a5bcb657
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.1

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder \
    .appName("Lab 3") \
    .getOrCreate()

In [5]:
spark

# Spark RDDs

In [6]:
# Download datset
!wget https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv

--2024-04-03 08:47:09--  https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv
Resolving jacobceles.github.io (jacobceles.github.io)... 185.199.109.153, 185.199.111.153, 185.199.110.153, ...
Connecting to jacobceles.github.io (jacobceles.github.io)|185.199.109.153|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/cars.csv [following]
--2024-04-03 08:47:10--  https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/cars.csv
Resolving jacobcelestine.com (jacobcelestine.com)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to jacobcelestine.com (jacobcelestine.com)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22608 (22K) [text/csv]
Saving to: ‘cars.csv.1’

cars.csv.1          100%[===================>]  22.08K  --.-KB/s    in 0.04s

2024-04-03 08:47:11 (577 KB/s) - ‘cars.csv.1’ saved [22608/22608]

In [9]:
cars = spark.sparkContext.textFile('cars.csv')

In [14]:
cars.take(10)

['Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin',
 'Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3504.;12.0;70;US',
 'Buick Skylark 320;15.0;8;350.0;165.0;3693.;11.5;70;US',
 'Plymouth Satellite;18.0;8;318.0;150.0;3436.;11.0;70;US',
 'AMC Rebel SST;16.0;8;304.0;150.0;3433.;12.0;70;US',
 'Ford Torino;17.0;8;302.0;140.0;3449.;10.5;70;US',
 'Ford Galaxie 500;15.0;8;429.0;198.0;4341.;10.0;70;US',
 'Chevrolet Impala;14.0;8;454.0;220.0;4354.;9.0;70;US',
 'Plymouth Fury iii;14.0;8;440.0;215.0;4312.;8.5;70;US',
 'Pontiac Catalina;14.0;8;455.0;225.0;4425.;10.0;70;US']

# Spark RDD Actions

In [10]:
# count(): Gets the number of data elements in an RDD

# Count the number of records
total_records = cars.count()
total_records

407

In [11]:
# take(n): Fetches the first n elements of an RDD

# Take the first n records
first_n_records = cars.take(5)
first_n_records

['Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin',
 'Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3504.;12.0;70;US',
 'Buick Skylark 320;15.0;8;350.0;165.0;3693.;11.5;70;US',
 'Plymouth Satellite;18.0;8;318.0;150.0;3436.;11.0;70;US',
 'AMC Rebel SST;16.0;8;304.0;150.0;3433.;12.0;70;US']

In [12]:
# collect(): Gets all the data elements in an RDD as an array

# Collect the results
collected_results = cars.collect()
collected_results

['Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin',
 'Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3504.;12.0;70;US',
 'Buick Skylark 320;15.0;8;350.0;165.0;3693.;11.5;70;US',
 'Plymouth Satellite;18.0;8;318.0;150.0;3436.;11.0;70;US',
 'AMC Rebel SST;16.0;8;304.0;150.0;3433.;12.0;70;US',
 'Ford Torino;17.0;8;302.0;140.0;3449.;10.5;70;US',
 'Ford Galaxie 500;15.0;8;429.0;198.0;4341.;10.0;70;US',
 'Chevrolet Impala;14.0;8;454.0;220.0;4354.;9.0;70;US',
 'Plymouth Fury iii;14.0;8;440.0;215.0;4312.;8.5;70;US',
 'Pontiac Catalina;14.0;8;455.0;225.0;4425.;10.0;70;US',
 'AMC Ambassador DPL;15.0;8;390.0;190.0;3850.;8.5;70;US',
 'Citroen DS-21 Pallas;0;4;133.0;115.0;3090.;17.5;70;Europe',
 'Chevrolet Chevelle Concours (sw);0;8;350.0;165.0;4142.;11.5;70;US',
 'Ford Torino (sw);0;8;351.0;153.0;4034.;11.0;70;US',
 'Plymouth Satellite (sw);0;8;383.0;175.0;4166.;10.5;70;US',
 'AMC Rebel SST (sw);0;8;360.0;175.0;3850.;11.0;70;US',
 'Dodge Challenger SE;15.0;8;383.0;170.0;3563.;10.0;70;US',
 "Plymouth 'Cuda 340;14.0;8;340.0;160.0;3609.;8.0;70;US",
 'Ford Mustang Boss 302;0;8;302.0;140.0;3353.;8.0;70;US',
 'Chevrolet Monte Carlo;15.0;8;400.0;150.0;3761.;9.5;70;US',
 'Buick Estate Wagon (sw);14.0;8;455.0;225.0;3086.;10.0;70;US',
 'Toyota Corolla Mark ii;24.0;4;113.0;95.00;2372.;15.0;70;Japan',
 'Plymouth Duster;22.0;6;198.0;95.00;2833.;15.5;70;US',
 'AMC Hornet;18.0;6;199.0;97.00;2774.;15.5;70;US',
 'Ford Maverick;21.0;6;200.0;85.00;2587.;16.0;70;US',
 'Datsun PL510;27.0;4;97.00;88.00;2130.;14.5;70;Japan',
 'Volkswagen 1131 Deluxe Sedan;26.0;4;97.00;46.00;1835.;20.5;70;Europe',
 'Peugeot 504;25.0;4;110.0;87.00;2672.;17.5;70;Europe',
 'Audi 100 LS;24.0;4;107.0;90.00;2430.;14.5;70;Europe',
 'Saab 99e;25.0;4;104.0;95.00;2375.;17.5;70;Europe',
 'BMW 2002;26.0;4;121.0;113.0;2234.;12.5;70;Europe',
 'AMC Gremlin;21.0;6;199.0;90.00;2648.;15.0;70;US',
 'Ford F250;10.0;8;360.0;215.0;4615.;14.0;70;US',
 'Chevy C20;10.0;8;307.0;200.0;4376.;15.0;70;US',
 'Dodge D200;11.0;8;318.0;210.0;4382.;13.5;70;US',
 'Hi 1200D;9.0;8;304.0;193.0;4732.;18.5;70;US',
 'Datsun PL510;27.0;4;97.00;88.00;2130.;14.5;71;Japan',
 'Chevrolet Vega 2300;28.0;4;140.0;90.00;2264.;15.5;71;US',
 'Toyota Corolla;25.0;4;113.0;95.00;2228.;14.0;71;Japan',
 'Ford Pinto;25.0;4;98.00;0;2046.;19.0;71;US',
 'Volkswagen Super Beetle 117;0;4;97.00;48.00;1978.;20.0;71;Europe',
 'AMC Gremlin;19.0;6;232.0;100.0;2634.;13.0;71;US',
 'Plymouth Satellite Custom;16.0;6;225.0;105.0;3439.;15.5;71;US',
 'Chevrolet Chevelle Malibu;17.0;6;250.0;100.0;3329.;15.5;71;US',
 'Ford Torino 500;19.0;6;250.0;88.00;3302.;15.5;71;US',
 'AMC Matador;18.0;6;232.0;100.0;3288.;15.5;71;US',
 'Chevrolet Impala;14.0;8;350.0;165.0;4209.;12.0;71;US',
 'Pontiac Catalina Brougham;14.0;8;400.0;175.0;4464.;11.5;71;US',
 'Ford Galaxie 500;14.0;8;351.0;153.0;4154.;13.5;71;US',
 'Plymouth Fury iii;14.0;8;318.0;150.0;4096.;13.0;71;US',
 'Dodge Monaco (sw);12.0;8;383.0;180.0;4955.;11.5;71;US',
 'Ford Country Squire (sw);13.0;8;400.0;170.0;4746.;12.0;71;US',
 'Pontiac Safari (sw);13.0;8;400.0;175.0;5140.;12.0;71;US',
 'AMC Hornet Sportabout (sw);18.0;6;258.0;110.0;2962.;13.5;71;US',
 'Chevrolet Vega (sw);22.0;4;140.0;72.00;2408.;19.0;71;US',
 'Pontiac Firebird;19.0;6;250.0;100.0;3282.;15.0;71;US',
 'Ford Mustang;18.0;6;250.0;88.00;3139.;14.5;71;US',
 'Mercury Capri 2000;23.0;4;122.0;86.00;2220.;14.0;71;US',
 'Opel 1900;28.0;4;116.0;90.00;2123.;14.0;71;Europe',
 'Peugeot 304;30.0;4;79.00;70.00;2074.;19.5;71;Europe',
 'Fiat 124B;30.0;4;88.00;76.00;2065.;14.5;71;Europe',
 'Toyota Corolla 1200;31.0;4;71.00;65.00;1773.;19.0;71;Japan',
 'Datsun 1200;35.0;4;72.00;69.00;1613.;18.0;71;Japan',
 'Volkswagen Model 111;27.0;4;97.00;60.00;1834.;19.0;71;Europe',
 'Plymouth Cricket;26.0;4;91.00;70.00;1955.;20.5;71;US',
 'Toyota Corolla Hardtop;24.0;4;113.0;95.00;2278.;15.5;72;Japan',
 'Dodge Colt Hardtop;25.0;4;97.50;80.00;2126.;17.0;72;US',
 'Volkswagen Type 3;23.0;4;97.00;54.00;2254.;23.5;72;Europe',
 'Chevrolet Vega;20.0;4;140.0;90.00;2408.;19.5;72;US',
 'Ford Pinto Runabout;21.0;4;122.0;86.00;2226.;16.5;72;US',
 'Chevrolet Impala;13.0;8;350.0;165.0;4274.;12.0;72;US',
 'Pontiac Catalina;14.0;8;400.0;175.0;4385.;12.0;72;US',
 'Plymouth Fury III;15.0;8;318.0;150.0;4135.;13.5;72;US',
 'Ford Galaxie 500;14.0;8;351.0;153.0;4129.;13.0;72;US',
 'AMC Ambassador SST;17.0;8;304.0;150.0;3672.;11.5;72;US',
 'Mercury Marquis;11.0;8;429.0;208.0;4633.;11.0;72;US',
 'Buick LeSabre Custom;13.0;8;350.0;155.0;4502.;13.5;72;US',
 'Oldsmobile Delta 88 Royale;12.0;8;350.0;160.0;4456.;13.5;72;US',
 'Chrysler Newport Royal;13.0;8;400.0;190.0;4422.;12.5;72;US',
 'Mazda RX2 Coupe;19.0;3;70.00;97.00;2330.;13.5;72;Japan',
 'AMC Matador (sw);15.0;8;304.0;150.0;3892.;12.5;72;US',
 'Chevrolet Chevelle Concours (sw);13.0;8;307.0;130.0;4098.;14.0;72;US',
 'Ford Gran Torino (sw);13.0;8;302.0;140.0;4294.;16.0;72;US',
 'Plymouth Satellite Custom (sw);14.0;8;318.0;150.0;4077.;14.0;72;US',
 'Volvo 145e (sw);18.0;4;121.0;112.0;2933.;14.5;72;Europe',
 'Volkswagen 411 (sw);22.0;4;121.0;76.00;2511.;18.0;72;Europe',
 'Peugeot 504 (sw);21.0;4;120.0;87.00;2979.;19.5;72;Europe',
 'Renault 12 (sw);26.0;4;96.00;69.00;2189.;18.0;72;Europe',
 'Ford Pinto (sw);22.0;4;122.0;86.00;2395.;16.0;72;US',
 'Datsun 510 (sw);28.0;4;97.00;92.00;2288.;17.0;72;Japan',
 'Toyota Corolla Mark II (sw);23.0;4;120.0;97.00;2506.;14.5;72;Japan',
 'Dodge Colt (sw);28.0;4;98.00;80.00;2164.;15.0;72;US',
 'Toyota Corolla 1600 (sw);27.0;4;97.00;88.00;2100.;16.5;72;Japan',
 'Buick Century 350;13.0;8;350.0;175.0;4100.;13.0;73;US',
 'AMC Matador;14.0;8;304.0;150.0;3672.;11.5;73;US',
 'Chevrolet Malibu;13.0;8;350.0;145.0;3988.;13.0;73;US',
 'Ford Gran Torino;14.0;8;302.0;137.0;4042.;14.5;73;US',
 'Dodge Coronet Custom;15.0;8;318.0;150.0;3777.;12.5;73;US',
 'Mercury Marquis Brougham;12.0;8;429.0;198.0;4952.;11.5;73;US',
 'Chevrolet Caprice Classic;13.0;8;400.0;150.0;4464.;12.0;73;US',
 'Ford LTD;13.0;8;351.0;158.0;4363.;13.0;73;US',
 'Plymouth Fury Gran Sedan;14.0;8;318.0;150.0;4237.;14.5;73;US',
 'Chrysler New Yorker Brougham;13.0;8;440.0;215.0;4735.;11.0;73;US',
 'Buick Electra 225 Custom;12.0;8;455.0;225.0;4951.;11.0;73;US',
 'AMC Ambassador Brougham;13.0;8;360.0;175.0;3821.;11.0;73;US',
 'Plymouth Valiant;18.0;6;225.0;105.0;3121.;16.5;73;US',
 'Chevrolet Nova Custom;16.0;6;250.0;100.0;3278.;18.0;73;US',
 'AMC Hornet;18.0;6;232.0;100.0;2945.;16.0;73;US',
 'Ford Maverick;18.0;6;250.0;88.00;3021.;16.5;73;US',
 'Plymouth Duster;23.0;6;198.0;95.00;2904.;16.0;73;US',
 'Volkswagen Super Beetle;26.0;4;97.00;46.00;1950.;21.0;73;Europe',
 'Chevrolet Impala;11.0;8;400.0;150.0;4997.;14.0;73;US',
 'Ford Country;12.0;8;400.0;167.0;4906.;12.5;73;US',
 'Plymouth Custom Suburb;13.0;8;360.0;170.0;4654.;13.0;73;US',
 'Oldsmobile Vista Cruiser;12.0;8;350.0;180.0;4499.;12.5;73;US',
 'AMC Gremlin;18.0;6;232.0;100.0;2789.;15.0;73;US',
 'Toyota Camry;20.0;4;97.00;88.00;2279.;19.0;73;Japan',
 'Chevrolet Vega;21.0;4;140.0;72.00;2401.;19.5;73;US',
 'Datsun 610;22.0;4;108.0;94.00;2379.;16.5;73;Japan',
 'Mazda RX3;18.0;3;70.00;90.00;2124.;13.5;73;Japan',
 'Ford Pinto;19.0;4;122.0;85.00;2310.;18.5;73;US',
 'Mercury Capri v6;21.0;6;155.0;107.0;2472.;14.0;73;US',
 'Fiat 124 Sport Coupe;26.0;4;98.00;90.00;2265.;15.5;73;Europe',
 'Chevrolet Monte Carlo S;15.0;8;350.0;145.0;4082.;13.0;73;US',
 'Pontiac Grand Prix;16.0;8;400.0;230.0;4278.;9.50;73;US',
 'Fiat 128;29.0;4;68.00;49.00;1867.;19.5;73;Europe',
 'Opel Manta;24.0;4;116.0;75.00;2158.;15.5;73;Europe',
 'Audi 100LS;20.0;4;114.0;91.00;2582.;14.0;73;Europe',
 'Volvo 144ea;19.0;4;121.0;112.0;2868.;15.5;73;Europe',
 'Dodge Dart Custom;15.0;8;318.0;150.0;3399.;11.0;73;US',
 'Saab 99le;24.0;4;121.0;110.0;2660.;14.0;73;Europe',
 'Toyota Mark II;20.0;6;156.0;122.0;2807.;13.5;73;Japan',
 'Oldsmobile Omega;11.0;8;350.0;180.0;3664.;11.0;73;US',
 'Plymouth Duster;20.0;6;198.0;95.00;3102.;16.5;74;US',
 'Ford Maverick;21.0;6;200.0;0;2875.;17.0;74;US',
 'AMC Hornet;19.0;6;232.0;100.0;2901.;16.0;74;US',
 'Chevrolet Nova;15.0;6;250.0;100.0;3336.;17.0;74;US',
 'Datsun B210;31.0;4;79.00;67.00;1950.;19.0;74;Japan',
 'Ford Pinto;26.0;4;122.0;80.00;2451.;16.5;74;US',
 'Toyota Corolla 1200;32.0;4;71.00;65.00;1836.;21.0;74;Japan',
 'Chevrolet Vega;25.0;4;140.0;75.00;2542.;17.0;74;US',
 'Chevrolet Chevelle Malibu Classic;16.0;6;250.0;100.0;3781.;17.0;74;US',
 'AMC Matador;16.0;6;258.0;110.0;3632.;18.0;74;US',
 'Plymouth Satellite Sebring;18.0;6;225.0;105.0;3613.;16.5;74;US',
 'Ford Gran Torino;16.0;8;302.0;140.0;4141.;14.0;74;US',
 'Buick Century Luxus (sw);13.0;8;350.0;150.0;4699.;14.5;74;US',
 'Dodge Coronet Custom (sw);14.0;8;318.0;150.0;4457.;13.5;74;US',
 'Ford Gran Torino (sw);14.0;8;302.0;140.0;4638.;16.0;74;US',
 'AMC Matador (sw);14.0;8;304.0;150.0;4257.;15.5;74;US',
 'Audi Fox;29.0;4;98.00;83.00;2219.;16.5;74;Europe',
 'Volkswagen Dasher;26.0;4;79.00;67.00;1963.;15.5;74;Europe',
 'Opel Manta;26.0;4;97.00;78.00;2300.;14.5;74;Europe',
 'Toyota Corolla;31.0;4;76.00;52.00;1649.;16.5;74;Japan',
 'Datsun 710;32.0;4;83.00;61.00;2003.;19.0;74;Japan',
 'Dodge Colt;28.0;4;90.00;75.00;2125.;14.5;74;US',
 'Fiat 128;24.0;4;90.00;75.00;2108.;15.5;74;Europe',
 'Fiat 124 TC;26.0;4;116.0;75.00;2246.;14.0;74;Europe',
 'Honda Civic;24.0;4;120.0;97.00;2489.;15.0;74;Japan',
 'Subaru;26.0;4;108.0;93.00;2391.;15.5;74;Japan',
 'Fiat x1.9;31.0;4;79.00;67.00;2000.;16.0;74;Europe',
 'Plymouth Valiant Custom;19.0;6;225.0;95.00;3264.;16.0;75;US',
 'Chevrolet Nova;18.0;6;250.0;105.0;3459.;16.0;75;US',
 'Mercury Monarch;15.0;6;250.0;72.00;3432.;21.0;75;US',
 'Ford Maverick;15.0;6;250.0;72.00;3158.;19.5;75;US',
 'Pontiac Catalina;16.0;8;400.0;170.0;4668.;11.5;75;US',
 'Chevrolet Bel Air;15.0;8;350.0;145.0;4440.;14.0;75;US',
 'Plymouth Grand Fury;16.0;8;318.0;150.0;4498.;14.5;75;US',
 'Ford LTD;14.0;8;351.0;148.0;4657.;13.5;75;US',
 'Buick Century;17.0;6;231.0;110.0;3907.;21.0;75;US',
 'Chevrolete Chevelle Malibu;16.0;6;250.0;105.0;3897.;18.5;75;US',
 'AMC Matador;15.0;6;258.0;110.0;3730.;19.0;75;US',
 'Plymouth Fury;18.0;6;225.0;95.00;3785.;19.0;75;US',
 'Buick Skyhawk;21.0;6;231.0;110.0;3039.;15.0;75;US',
 'Chevrolet Monza 2+2;20.0;8;262.0;110.0;3221.;13.5;75;US',
 'Ford Mustang II;13.0;8;302.0;129.0;3169.;12.0;75;US',
 'Toyota Corolla;29.0;4;97.00;75.00;2171.;16.0;75;Japan',
 'Ford Pinto;23.0;4;140.0;83.00;2639.;17.0;75;US',
 'AMC Gremlin;20.0;6;232.0;100.0;2914.;16.0;75;US',
 'Pontiac Astro;23.0;4;140.0;78.00;2592.;18.5;75;US',
 'Toyota Corolla;24.0;4;134.0;96.00;2702.;13.5;75;Japan',
 'Volkswagen Dasher;25.0;4;90.00;71.00;2223.;16.5;75;Europe',
 'Datsun 710;24.0;4;119.0;97.00;2545.;17.0;75;Japan',
 'Ford Pinto;18.0;6;171.0;97.00;2984.;14.5;75;US',
 'Volkswagen Rabbit;29.0;4;90.00;70.00;1937.;14.0;75;Europe',
 'AMC Pacer;19.0;6;232.0;90.00;3211.;17.0;75;US',
 'Audi 100LS;23.0;4;115.0;95.00;2694.;15.0;75;Europe',
 'Peugeot 504;23.0;4;120.0;88.00;2957.;17.0;75;Europe',
 'Volvo 244DL;22.0;4;121.0;98.00;2945.;14.5;75;Europe',
 'Saab 99LE;25.0;4;121.0;115.0;2671.;13.5;75;Europe',
 'Honda Civic CVCC;33.0;4;91.00;53.00;1795.;17.5;75;Japan',
 'Fiat 131;28.0;4;107.0;86.00;2464.;15.5;76;Europe',
 'Opel 1900;25.0;4;116.0;81.00;2220.;16.9;76;Europe',
 'Capri ii;25.0;4;140.0;92.00;2572.;14.9;76;US',
 'Dodge Colt;26.0;4;98.00;79.00;2255.;17.7;76;US',
 'Renault 12tl;27.0;4;101.0;83.00;2202.;15.3;76;Europe',
 'Chevrolet Chevelle Malibu Classic;17.5;8;305.0;140.0;4215.;13.0;76;US',
 'Dodge Coronet Brougham;16.0;8;318.0;150.0;4190.;13.0;76;US',
 'AMC Matador;15.5;8;304.0;120.0;3962.;13.9;76;US',
 'Ford Gran Torino;14.5;8;351.0;152.0;4215.;12.8;76;US',
 'Plymouth Valiant;22.0;6;225.0;100.0;3233.;15.4;76;US',
 'Chevrolet Nova;22.0;6;250.0;105.0;3353.;14.5;76;US',
 'Ford Maverick;24.0;6;200.0;81.00;3012.;17.6;76;US',
 'AMC Hornet;22.5;6;232.0;90.00;3085.;17.6;76;US',
 'Chevrolet Chevette;29.0;4;85.00;52.00;2035.;22.2;76;US',
 'Chevrolet Woody;24.5;4;98.00;60.00;2164.;22.1;76;US',
 'Volkswagen Rabbit;29.0;4;90.00;70.00;1937.;14.2;76;Europe',
 'Honda Civic;33.0;4;91.00;53.00;1795.;17.4;76;Japan',
 'Dodge Aspen SE;20.0;6;225.0;100.0;3651.;17.7;76;US',
 'Ford Grenada ghia;18.0;6;250.0;78.00;3574.;21.0;76;US',
 'Pontiac Ventura SJ;18.5;6;250.0;110.0;3645.;16.2;76;US',
 'AMC Pacer d/l;17.5;6;258.0;95.00;3193.;17.8;76;US',
 'Volkswagen Rabbit;29.5;4;97.00;71.00;1825.;12.2;76;Europe',
 'Datsun B-210;32.0;4;85.00;70.00;1990.;17.0;76;Japan',
 'Toyota Corolla;28.0;4;97.00;75.00;2155.;16.4;76;Japan',
 'Ford Pinto;26.5;4;140.0;72.00;2565.;13.6;76;US',
 'Volvo 245;20.0;4;130.0;102.0;3150.;15.7;76;Europe',
 'Plymouth Volare Premier v8;13.0;8;318.0;150.0;3940.;13.2;76;US',
 'Peugeot 504;19.0;4;120.0;88.00;3270.;21.9;76;Europe',
 'Toyota Mark II;19.0;6;156.0;108.0;2930.;15.5;76;Japan',
 'Mercedes-Benz 280s;16.5;6;168.0;120.0;3820.;16.7;76;Europe',
 'Cadillac Seville;16.5;8;350.0;180.0;4380.;12.1;76;US',
 'Chevrolet C10;13.0;8;350.0;145.0;4055.;12.0;76;US',
 'Ford F108;13.0;8;302.0;130.0;3870.;15.0;76;US',
 'Dodge D100;13.0;8;318.0;150.0;3755.;14.0;76;US',
 'Honda Accord CVCC;31.5;4;98.00;68.00;2045.;18.5;77;Japan',
 'Buick Opel Isuzu Deluxe;30.0;4;111.0;80.00;2155.;14.8;77;US',
 'Renault 5 GTL;36.0;4;79.00;58.00;1825.;18.6;77;Europe',
 'Plymouth Arrow GS;25.5;4;122.0;96.00;2300.;15.5;77;US',
 'Datsun F-10 Hatchback;33.5;4;85.00;70.00;1945.;16.8;77;Japan',
 'Chevrolet Caprice Classic;17.5;8;305.0;145.0;3880.;12.5;77;US',
 'Oldsmobile Cutlass Supreme;17.0;8;260.0;110.0;4060.;19.0;77;US',
 'Dodge Monaco Brougham;15.5;8;318.0;145.0;4140.;13.7;77;US',
 'Mercury Cougar Brougham;15.0;8;302.0;130.0;4295.;14.9;77;US',
 'Chevrolet Concours;17.5;6;250.0;110.0;3520.;16.4;77;US',
 'Buick Skylark;20.5;6;231.0;105.0;3425.;16.9;77;US',
 'Plymouth Volare Custom;19.0;6;225.0;100.0;3630.;17.7;77;US',
 'Ford Grenada;18.5;6;250.0;98.00;3525.;19.0;77;US',
 'Pontiac Grand Prix LJ;16.0;8;400.0;180.0;4220.;11.1;77;US',
 'Chevrolet Monte Carlo Landau;15.5;8;350.0;170.0;4165.;11.4;77;US',
 'Chrysler Cordoba;15.5;8;400.0;190.0;4325.;12.2;77;US',
 'Ford Thunderbird;16.0;8;351.0;149.0;4335.;14.5;77;US',
 'Volkswagen Rabbit Custom;29.0;4;97.00;78.00;1940.;14.5;77;Europe',
 'Pontiac Sunbird Coupe;24.5;4;151.0;88.00;2740.;16.0;77;US',
 'Toyota Corolla Liftback;26.0;4;97.00;75.00;2265.;18.2;77;Japan',
 'Ford Mustang II 2+2;25.5;4;140.0;89.00;2755.;15.8;77;US',
 'Chevrolet Chevette;30.5;4;98.00;63.00;2051.;17.0;77;US',
 'Dodge Colt m/m;33.5;4;98.00;83.00;2075.;15.9;77;US',
 'Subaru DL;30.0;4;97.00;67.00;1985.;16.4;77;Japan',
 'Volkswagen Dasher;30.5;4;97.00;78.00;2190.;14.1;77;Europe',
 'Datsun 810;22.0;6;146.0;97.00;2815.;14.5;77;Japan',
 'BMW 320i;21.5;4;121.0;110.0;2600.;12.8;77;Europe',
 'Mazda RX-4;21.5;3;80.00;110.0;2720.;13.5;77;Japan',
 'Volkswagen Rabbit Custom Diesel;43.1;4;90.00;48.00;1985.;21.5;78;Europe',
 'Ford Fiesta;36.1;4;98.00;66.00;1800.;14.4;78;US',
 'Mazda GLC Deluxe;32.8;4;78.00;52.00;1985.;19.4;78;Japan',
 'Datsun B210 GX;39.4;4;85.00;70.00;2070.;18.6;78;Japan',
 'Honda Civic CVCC;36.1;4;91.00;60.00;1800.;16.4;78;Japan',
 'Oldsmobile Cutlass Salon Brougham;19.9;8;260.0;110.0;3365.;15.5;78;US',
 'Dodge Diplomat;19.4;8;318.0;140.0;3735.;13.2;78;US',
 'Mercury Monarch ghia;20.2;8;302.0;139.0;3570.;12.8;78;US',
 'Pontiac Phoenix LJ;19.2;6;231.0;105.0;3535.;19.2;78;US',
 'Chevrolet Malibu;20.5;6;200.0;95.00;3155.;18.2;78;US',
 'Ford Fairmont (auto);20.2;6;200.0;85.00;2965.;15.8;78;US',
 'Ford Fairmont (man);25.1;4;140.0;88.00;2720.;15.4;78;US',
 'Plymouth Volare;20.5;6;225.0;100.0;3430.;17.2;78;US',
 'AMC Concord;19.4;6;232.0;90.00;3210.;17.2;78;US',
 'Buick Century Special;20.6;6;231.0;105.0;3380.;15.8;78;US',
 'Mercury Zephyr;20.8;6;200.0;85.00;3070.;16.7;78;US',
 'Dodge Aspen;18.6;6;225.0;110.0;3620.;18.7;78;US',
 'AMC Concord d/l;18.1;6;258.0;120.0;3410.;15.1;78;US',
 'Chevrolet Monte Carlo Landau;19.2;8;305.0;145.0;3425.;13.2;78;US',
 'Buick Regal Sport Coupe (turbo);17.7;6;231.0;165.0;3445.;13.4;78;US',
 'Ford Futura;18.1;8;302.0;139.0;3205.;11.2;78;US',
 'Dodge Magnum XE;17.5;8;318.0;140.0;4080.;13.7;78;US',
 'Chevrolet Chevette;30.0;4;98.00;68.00;2155.;16.5;78;US',
 'Toyota Corolla;27.5;4;134.0;95.00;2560.;14.2;78;Japan',
 'Datsun 510;27.2;4;119.0;97.00;2300.;14.7;78;Japan',
 'Dodge Omni;30.9;4;105.0;75.00;2230.;14.5;78;US',
 'Toyota Celica GT Liftback;21.1;4;134.0;95.00;2515.;14.8;78;Japan',
 'Plymouth Sapporo;23.2;4;156.0;105.0;2745.;16.7;78;US',
 'Oldsmobile Starfire SX;23.8;4;151.0;85.00;2855.;17.6;78;US',
 'Datsun 200-SX;23.9;4;119.0;97.00;2405.;14.9;78;Japan',
 'Audi 5000;20.3;5;131.0;103.0;2830.;15.9;78;Europe',
 'Volvo 264gl;17.0;6;163.0;125.0;3140.;13.6;78;Europe',
 'Saab 99gle;21.6;4;121.0;115.0;2795.;15.7;78;Europe',
 'Peugeot 604sl;16.2;6;163.0;133.0;3410.;15.8;78;Europe',
 'Volkswagen Scirocco;31.5;4;89.00;71.00;1990.;14.9;78;Europe',
 'Honda Accord LX;29.5;4;98.00;68.00;2135.;16.6;78;Japan',
 'Pontiac Lemans V6;21.5;6;231.0;115.0;3245.;15.4;79;US',
 'Mercury Zephyr 6;19.8;6;200.0;85.00;2990.;18.2;79;US',
 'Ford Fairmont 4;22.3;4;140.0;88.00;2890.;17.3;79;US',
 'AMC Concord DL 6;20.2;6;232.0;90.00;3265.;18.2;79;US',
 'Dodge Aspen 6;20.6;6;225.0;110.0;3360.;16.6;79;US',
 'Chevrolet Caprice Classic;17.0;8;305.0;130.0;3840.;15.4;79;US',
 'Ford LTD Landau;17.6;8;302.0;129.0;3725.;13.4;79;US',
 'Mercury Grand Marquis;16.5;8;351.0;138.0;3955.;13.2;79;US',
 'Dodge St. Regis;18.2;8;318.0;135.0;3830.;15.2;79;US',
 'Buick Estate Wagon (sw);16.9;8;350.0;155.0;4360.;14.9;79;US',
 'Ford Country Squire (sw);15.5;8;351.0;142.0;4054.;14.3;79;US',
 'Chevrolet Malibu Classic (sw);19.2;8;267.0;125.0;3605.;15.0;79;US',
 'Chrysler Lebaron Town @ Country (sw);18.5;8;360.0;150.0;3940.;13.0;79;US',
 'Volkswagen Rabbit Custom;31.9;4;89.00;71.00;1925.;14.0;79;Europe',
 'Mazda GLC Deluxe;34.1;4;86.00;65.00;1975.;15.2;79;Japan',
 'Dodge Colt Hatchback Custom;35.7;4;98.00;80.00;1915.;14.4;79;US',
 'AMC Spirit DL;27.4;4;121.0;80.00;2670.;15.0;79;US',
 'Mercedes Benz 300d;25.4;5;183.0;77.00;3530.;20.1;79;Europe',
 'Cadillac Eldorado;23.0;8;350.0;125.0;3900.;17.4;79;US',
 'Peugeot 504;27.2;4;141.0;71.00;3190.;24.8;79;Europe',
 'Oldsmobile Cutlass Salon Brougham;23.9;8;260.0;90.00;3420.;22.2;79;US',
 'Plymouth Horizon;34.2;4;105.0;70.00;2200.;13.2;79;US',
 'Plymouth Horizon TC3;34.5;4;105.0;70.00;2150.;14.9;79;US',
 'Datsun 210;31.8;4;85.00;65.00;2020.;19.2;79;Japan',
 'Fiat Strada Custom;37.3;4;91.00;69.00;2130.;14.7;79;Europe',
 'Buick Skylark Limited;28.4;4;151.0;90.00;2670.;16.0;79;US',
 'Chevrolet Citation;28.8;6;173.0;115.0;2595.;11.3;79;US',
 'Oldsmobile Omega Brougham;26.8;6;173.0;115.0;2700.;12.9;79;US',
 'Pontiac Phoenix;33.5;4;151.0;90.00;2556.;13.2;79;US',
 'Volkswagen Rabbit;41.5;4;98.00;76.00;2144.;14.7;80;Europe',
 'Toyota Corolla Tercel;38.1;4;89.00;60.00;1968.;18.8;80;Japan',
 'Chevrolet Chevette;32.1;4;98.00;70.00;2120.;15.5;80;US',
 'Datsun 310;37.2;4;86.00;65.00;2019.;16.4;80;Japan',
 'Chevrolet Citation;28.0;4;151.0;90.00;2678.;16.5;80;US',
 'Ford Fairmont;26.4;4;140.0;88.00;2870.;18.1;80;US',
 'AMC Concord;24.3;4;151.0;90.00;3003.;20.1;80;US',
 'Dodge Aspen;19.1;6;225.0;90.00;3381.;18.7;80;US',
 'Audi 4000;34.3;4;97.00;78.00;2188.;15.8;80;Europe',
 'Toyota Corolla Liftback;29.8;4;134.0;90.00;2711.;15.5;80;Japan',
 'Mazda 626;31.3;4;120.0;75.00;2542.;17.5;80;Japan',
 'Datsun 510 Hatchback;37.0;4;119.0;92.00;2434.;15.0;80;Japan',
 'Toyota Corolla;32.2;4;108.0;75.00;2265.;15.2;80;Japan',
 'Mazda GLC;46.6;4;86.00;65.00;2110.;17.9;80;Japan',
 'Dodge Colt;27.9;4;156.0;105.0;2800.;14.4;80;US',
 'Datsun 210;40.8;4;85.00;65.00;2110.;19.2;80;Japan',
 'Volkswagen Rabbit C (Diesel);44.3;4;90.00;48.00;2085.;21.7;80;Europe',
 'Volkswagen Dasher (diesel);43.4;4;90.00;48.00;2335.;23.7;80;Europe',
 'Audi 5000s (diesel);36.4;5;121.0;67.00;2950.;19.9;80;Europe',
 'Mercedes-Benz 240d;30.0;4;146.0;67.00;3250.;21.8;80;Europe',
 'Honda Civic 1500 gl;44.6;4;91.00;67.00;1850.;13.8;80;Japan',
 'Renault Lecar Deluxe;40.9;4;85.00;0;1835.;17.3;80;Europe',
 'Subaru DL;33.8;4;97.00;67.00;2145.;18.0;80;Japan',
 'Volkswagen Rabbit;29.8;4;89.00;62.00;1845.;15.3;80;Europe',

# Spark RDD Transformations

In [17]:
# map(): Returns a new RDD by applying the function on each data element

# Split each line into a list based on the semicolon separator
split_cars = cars.map(lambda line: line.split(';'))

In [18]:
split_cars.take(2)

[['Car',
  'MPG',
  'Cylinders',
  'Displacement',
  'Horsepower',
  'Weight',
  'Acceleration',
  'Model',
  'Origin'],
 ['Chevrolet Chevelle Malibu',
  '18.0',
  '8',
  '307.0',
  '130.0',
  '3504.',
  '12.0',
  '70',
  'US']]

In [19]:
# filter(): Returns a new RDD formed by selecting those elements of the source on which the function returns true

# Filter out the header
filtered_cars = split_cars.filter(lambda values: values[0] != 'Car')

In [20]:
filtered_cars.take(1)

[['Chevrolet Chevelle Malibu',
  '18.0',
  '8',
  '307.0',
  '130.0',
  '3504.',
  '12.0',
  '70',
  'US']]

In [26]:
# map(): Returns a new RDD by applying the function on each data element

# Create key-value pairs with the Car as the key and Weight as the value
key_value_pairs = filtered_cars.map(lambda values: (values[0], float(values[5])))

In [27]:
key_value_pairs.take(5)

[('Chevrolet Chevelle Malibu', 3504.0),
 ('Buick Skylark 320', 3693.0),
 ('Plymouth Satellite', 3436.0),
 ('AMC Rebel SST', 3433.0),
 ('Ford Torino', 3449.0)]

In [28]:
# reduceByKey(): Aggregates the values of a key using a function

# Calculate the total weight for each car
total_weight_per_car = key_value_pairs.reduceByKey(lambda x, y: x + y)

In [29]:
total_weight_per_car.take(5)

[('Chevrolet Chevelle Malibu', 6833.0),
 ('AMC Rebel SST', 3433.0),
 ('Ford Torino', 3449.0),
 ('Plymouth Satellite (sw)', 4166.0),
 ('AMC Rebel SST (sw)', 3850.0)]

# 2. Spark DataFrames

In [23]:
df = spark.read.format("csv").option("header", True).load("/home/jovyan/auto-mpg.csv")

In [24]:
df.show(10)

+----+---------+------------+----------+------+------------+---------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|       70|     1|   buick skylark 320|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|       70|     1|  plymouth satellite|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|       70|     1|       amc rebel sst|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|       70|     1|         ford torino|
|15.0|        8|       429.0|     198.0| 4341.|        10.0|       70|     1|    ford galaxie 500|
|14.0|        8|       454.0|     220.0| 4354.|         9.0|       70|     1|    chevrolet impala|
|14.0|        8|       440.0|     215.0| 4312.|         8.5|       70|     1|   plymouth fury iii|
|14.0|        8|       455.0|     225.0| 4425.|        10.0|       70|     1|    pontiac catalina|
|15.0|        8|       390.0|     190.0| 3850.|         8.5|       70|     1|  amc ambassador dpl|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
only showing top 10 rows

### Adding a new column to the DF

In [25]:
from pyspark.sql.functions import upper, lower

df = df.withColumn("upper", upper(df.carname)).withColumn(
    "lower", lower(df.carname)
)
df

DataFrame[mpg: string, cylinders: string, displacement: string, horsepower: string, weight: string, acceleration: string, modelyear: string, origin: string, carname: string, upper: string, lower: string]

### Modify a DataFrame column

In [26]:
from pyspark.sql.functions import col, concat, lit

df = df.withColumn("modelyear", concat(lit("19"), col("modelyear")))
df.show(10)

+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|               upper|               lower|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|     1970|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|     1970|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|     1970|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|     1970|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|     1970|     1|         ford torino|         FORD TORINO|         ford torino|
|15.0|        8|       429.0|     198.0| 4341.|        10.0|     1970|     1|    ford galaxie 500|    FORD GALAXIE 500|    ford galaxie 500|
|14.0|        8|       454.0|     220.0| 4354.|         9.0|     1970|     1|    chevrolet impala|    CHEVROLET IMPALA|    chevrolet impala|
|14.0|        8|       440.0|     215.0| 4312.|         8.5|     1970|     1|   plymouth fury iii|   PLYMOUTH FURY III|   plymouth fury iii|
|14.0|        8|       455.0|     225.0| 4425.|        10.0|     1970|     1|    pontiac catalina|    PONTIAC CATALINA|    pontiac catalina|
|15.0|        8|       390.0|     190.0| 3850.|         8.5|     1970|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
only showing top 10 rows

### Add a column with multiple conditions

In [29]:
from pyspark.sql.functions import col, when

df = df.withColumn(
    "mpg_class",
    when(col("mpg") <= 20, "low")
    .when(col("mpg") <= 30, "mid")
    .when(col("mpg") <= 40, "high")
    .otherwise("very high"),
)
df.show(10)

+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|               upper|               lower|mpg_class|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|     1970|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|      low|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|     1970|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|      low|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|     1970|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|      low|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|     1970|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|      low|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|     1970|     1|         ford torino|         FORD TORINO|         ford torino|      low|
|15.0|        8|       429.0|     198.0| 4341.|        10.0|     1970|     1|    ford galaxie 500|    FORD GALAXIE 500|    ford galaxie 500|      low|
|14.0|        8|       454.0|     220.0| 4354.|         9.0|     1970|     1|    chevrolet impala|    CHEVROLET IMPALA|    chevrolet impala|      low|
|14.0|        8|       440.0|     215.0| 4312.|         8.5|     1970|     1|   plymouth fury iii|   PLYMOUTH FURY III|   plymouth fury iii|      low|
|14.0|        8|       455.0|     225.0| 4425.|        10.0|     1970|     1|    pontiac catalina|    PONTIAC CATALINA|    pontiac catalina|      low|
|15.0|        8|       390.0|     190.0| 3850.|         8.5|     1970|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|      low|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+
only showing top 10 rows

### Add a constant column

In [30]:
from pyspark.sql.functions import lit

df = df.withColumn("one", lit(1))
df.show(10)

+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+---+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|               upper|               lower|mpg_class|one|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+---+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|     1970|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|      low|  1|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|     1970|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|      low|  1|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|     1970|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|      low|  1|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|     1970|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|      low|  1|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|     1970|     1|         ford torino|         FORD TORINO|         ford torino|      low|  1|
|15.0|        8|       429.0|     198.0| 4341.|        10.0|     1970|     1|    ford galaxie 500|    FORD GALAXIE 500|    ford galaxie 500|      low|  1|
|14.0|        8|       454.0|     220.0| 4354.|         9.0|     1970|     1|    chevrolet impala|    CHEVROLET IMPALA|    chevrolet impala|      low|  1|
|14.0|        8|       440.0|     215.0| 4312.|         8.5|     1970|     1|   plymouth fury iii|   PLYMOUTH FURY III|   plymouth fury iii|      low|  1|
|14.0|        8|       455.0|     225.0| 4425.|        10.0|     1970|     1|    pontiac catalina|    PONTIAC CATALINA|    pontiac catalina|      low|  1|
|15.0|        8|       390.0|     190.0| 3850.|         8.5|     1970|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|      low|  1|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+---+
only showing top 10 rows

### Concatenate columns

In [31]:
from pyspark.sql.functions import concat, col, lit

df = df.withColumn(
    "concatenated", concat(col("cylinders"), lit("_"), col("mpg"))
)
df.show(10)

+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+---+------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|               upper|               lower|mpg_class|one|concatenated|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+---+------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|     1970|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|      low|  1|      8_18.0|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|     1970|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|      low|  1|      8_15.0|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|     1970|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|      low|  1|      8_18.0|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|     1970|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|      low|  1|      8_16.0|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|     1970|     1|         ford torino|         FORD TORINO|         ford torino|      low|  1|      8_17.0|
|15.0|        8|       429.0|     198.0| 4341.|        10.0|     1970|     1|    ford galaxie 500|    FORD GALAXIE 500|    ford galaxie 500|      low|  1|      8_15.0|
|14.0|        8|       454.0|     220.0| 4354.|         9.0|     1970|     1|    chevrolet impala|    CHEVROLET IMPALA|    chevrolet impala|      low|  1|      8_14.0|
|14.0|        8|       440.0|     215.0| 4312.|         8.5|     1970|     1|   plymouth fury iii|   PLYMOUTH FURY III|   plymouth fury iii|      low|  1|      8_14.0|
|14.0|        8|       455.0|     225.0| 4425.|        10.0|     1970|     1|    pontiac catalina|    PONTIAC CATALINA|    pontiac catalina|      low|  1|      8_14.0|
|15.0|        8|       390.0|     190.0| 3850.|         8.5|     1970|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|      low|  1|      8_15.0|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+---+------------+
only showing top 10 rows

### Drop a column

In [234]:
df_column_dropped = df.drop("horsepower")
df_column_dropped.show(10)

+----+---------+------------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+---+------------+
| mpg|cylinders|displacement|weight|acceleration|modelyear|origin|             carname|               upper|               lower|mpg_class|one|concatenated|
+----+---------+------------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+---+------------+
|18.0|        8|       307.0| 3504.|        12.0|     1970|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|      low|  1|      8_18.0|
|15.0|        8|       350.0| 3693.|        11.5|     1970|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|      low|  1|      8_15.0|
|18.0|        8|       318.0| 3436.|        11.0|     1970|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|      low|  1|      8_18.0|
|16.0|        8|       304.0| 3433.|        12.0|     1970|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|      low|  1|      8_16.0|
|17.0|        8|       302.0| 3449.|        10.5|     1970|     1|         ford torino|         FORD TORINO|         ford torino|      low|  1|      8_17.0|
|15.0|        8|       429.0| 4341.|        10.0|     1970|     1|    ford galaxie 500|    FORD GALAXIE 500|    ford galaxie 500|      low|  1|      8_15.0|
|14.0|        8|       454.0| 4354.|         9.0|     1970|     1|    chevrolet impala|    CHEVROLET IMPALA|    chevrolet impala|      low|  1|      8_14.0|
|14.0|        8|       440.0| 4312.|         8.5|     1970|     1|   plymouth fury iii|   PLYMOUTH FURY III|   plymouth fury iii|      low|  1|      8_14.0|
|14.0|        8|       455.0| 4425.|        10.0|     1970|     1|    pontiac catalina|    PONTIAC CATALINA|    pontiac catalina|      low|  1|      8_14.0|
|15.0|        8|       390.0| 3850.|         8.5|     1970|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|      low|  1|      8_15.0|
+----+---------+------------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+---+------------+
only showing top 10 rows

### Change a column name

In [44]:
df = df.withColumnRenamed("horsepower", "horses")
df.show(10)

+----+---------+------------+------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
| mpg|cylinders|displacement|horses|weight|acceleration|modelyear|origin|             carname|               upper|               lower|mpg_class|one|concatenated|manufacturer|
+----+---------+------------+------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
|18.0|        8|       307.0| 130.0| 3504.|        12.0|     1970|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|      low|  1|      8_18.0|   chevrolet|
|15.0|        8|       350.0| 165.0| 3693.|        11.5|     1970|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|      low|  1|      8_15.0|       buick|
|18.0|        8|       318.0| 150.0| 3436.|        11.0|     1970|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|      low|  1|      8_18.0|    plymouth|
|16.0|        8|       304.0| 150.0| 3433.|        12.0|     1970|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|      low|  1|      8_16.0|         amc|
|17.0|        8|       302.0| 140.0| 3449.|        10.5|     1970|     1|         ford torino|         FORD TORINO|         ford torino|      low|  1|      8_17.0|        ford|
|15.0|        8|       429.0| 198.0| 4341.|        10.0|     1970|     1|    ford galaxie 500|    FORD GALAXIE 500|    ford galaxie 500|      low|  1|      8_15.0|        ford|
|14.0|        8|       454.0| 220.0| 4354.|         9.0|     1970|     1|    chevrolet impala|    CHEVROLET IMPALA|    chevrolet impala|      low|  1|      8_14.0|   chevrolet|
|14.0|        8|       440.0| 215.0| 4312.|         8.5|     1970|     1|   plymouth fury iii|   PLYMOUTH FURY III|   plymouth fury iii|      low|  1|      8_14.0|    plymouth|
|14.0|        8|       455.0| 225.0| 4425.|        10.0|     1970|     1|    pontiac catalina|    PONTIAC CATALINA|    pontiac catalina|      low|  1|      8_14.0|     pontiac|
|15.0|        8|       390.0| 190.0| 3850.|         8.5|     1970|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|      low|  1|      8_15.0|         amc|
+----+---------+------------+------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
only showing top 10 rows

### Change multiple column names

In [45]:
df = df.withColumnRenamed("horsepower", "horses").withColumnRenamed(
    "modelyear", "year"
)
df.show(10)

+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
| mpg|cylinders|displacement|horses|weight|acceleration|year|origin|             carname|               upper|               lower|mpg_class|one|concatenated|manufacturer|
+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
|18.0|        8|       307.0| 130.0| 3504.|        12.0|1970|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|      low|  1|      8_18.0|   chevrolet|
|15.0|        8|       350.0| 165.0| 3693.|        11.5|1970|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|      low|  1|      8_15.0|       buick|
|18.0|        8|       318.0| 150.0| 3436.|        11.0|1970|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|      low|  1|      8_18.0|    plymouth|
|16.0|        8|       304.0| 150.0| 3433.|        12.0|1970|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|      low|  1|      8_16.0|         amc|
|17.0|        8|       302.0| 140.0| 3449.|        10.5|1970|     1|         ford torino|         FORD TORINO|         ford torino|      low|  1|      8_17.0|        ford|
|15.0|        8|       429.0| 198.0| 4341.|        10.0|1970|     1|    ford galaxie 500|    FORD GALAXIE 500|    ford galaxie 500|      low|  1|      8_15.0|        ford|
|14.0|        8|       454.0| 220.0| 4354.|         9.0|1970|     1|    chevrolet impala|    CHEVROLET IMPALA|    chevrolet impala|      low|  1|      8_14.0|   chevrolet|
|14.0|        8|       440.0| 215.0| 4312.|         8.5|1970|     1|   plymouth fury iii|   PLYMOUTH FURY III|   plymouth fury iii|      low|  1|      8_14.0|    plymouth|
|14.0|        8|       455.0| 225.0| 4425.|        10.0|1970|     1|    pontiac catalina|    PONTIAC CATALINA|    pontiac catalina|      low|  1|      8_14.0|     pontiac|
|15.0|        8|       390.0| 190.0| 3850.|         8.5|1970|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|      low|  1|      8_15.0|         amc|
+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
only showing top 10 rows

### Select particular columns from a DataFrame

In [237]:
df_selected = df.select(["mpg", "cylinders", "displacement"])
df_selected.show(10)

+----+---------+------------+
| mpg|cylinders|displacement|
+----+---------+------------+
|18.0|        8|       307.0|
|15.0|        8|       350.0|
|18.0|        8|       318.0|
|16.0|        8|       304.0|
|17.0|        8|       302.0|
|15.0|        8|       429.0|
|14.0|        8|       454.0|
|14.0|        8|       440.0|
|14.0|        8|       455.0|
|15.0|        8|       390.0|
+----+---------+------------+
only showing top 10 rows

### Convert String to Double

In [238]:
from pyspark.sql.functions import col

df = df.withColumn("horses", col("horses").cast("double"))
df.show(10)

+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+
| mpg|cylinders|displacement|horses|weight|acceleration|year|origin|             carname|               upper|               lower|mpg_class|one|concatenated|
+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+
|18.0|        8|       307.0| 130.0| 3504.|        12.0|1970|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|      low|  1|      8_18.0|
|15.0|        8|       350.0| 165.0| 3693.|        11.5|1970|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|      low|  1|      8_15.0|
|18.0|        8|       318.0| 150.0| 3436.|        11.0|1970|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|      low|  1|      8_18.0|
|16.0|        8|       304.0| 150.0| 3433.|        12.0|1970|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|      low|  1|      8_16.0|
|17.0|        8|       302.0| 140.0| 3449.|        10.5|1970|     1|         ford torino|         FORD TORINO|         ford torino|      low|  1|      8_17.0|
|15.0|        8|       429.0| 198.0| 4341.|        10.0|1970|     1|    ford galaxie 500|    FORD GALAXIE 500|    ford galaxie 500|      low|  1|      8_15.0|
|14.0|        8|       454.0| 220.0| 4354.|         9.0|1970|     1|    chevrolet impala|    CHEVROLET IMPALA|    chevrolet impala|      low|  1|      8_14.0|
|14.0|        8|       440.0| 215.0| 4312.|         8.5|1970|     1|   plymouth fury iii|   PLYMOUTH FURY III|   plymouth fury iii|      low|  1|      8_14.0|
|14.0|        8|       455.0| 225.0| 4425.|        10.0|1970|     1|    pontiac catalina|    PONTIAC CATALINA|    pontiac catalina|      low|  1|      8_14.0|
|15.0|        8|       390.0| 190.0| 3850.|         8.5|1970|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|      low|  1|      8_15.0|
+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+
only showing top 10 rows

### Get the size of a DataFrame

In [239]:
print("{} rows".format(df.count()))
print("{} columns".format(len(df.columns)))

398 rows
14 columns

### Get data types of a DataFrame's columns

In [240]:
print(df.dtypes)

[('mpg', 'string'), ('cylinders', 'string'), ('displacement', 'string'), ('horses', 'double'), ('weight', 'string'), ('acceleration', 'string'), ('year', 'string'), ('origin', 'string'), ('carname', 'string'), ('upper', 'string'), ('lower', 'string'), ('mpg_class', 'string'), ('one', 'int'), ('concatenated', 'string')]

### Create a custom UDF

In [32]:
from pyspark.sql.functions import col, udf
from pyspark.sql.types import StringType

first_word_udf = udf(lambda x: x.split()[0], StringType())
df = df.withColumn("manufacturer", first_word_udf(col("carname")))

In [33]:
df.show(10)

+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|               upper|               lower|mpg_class|one|concatenated|manufacturer|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|     1970|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|      low|  1|      8_18.0|   chevrolet|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|     1970|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|      low|  1|      8_15.0|       buick|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|     1970|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|      low|  1|      8_18.0|    plymouth|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|     1970|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|      low|  1|      8_16.0|         amc|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|     1970|     1|         ford torino|         FORD TORINO|         ford torino|      low|  1|      8_17.0|        ford|
|15.0|        8|       429.0|     198.0| 4341.|        10.0|     1970|     1|    ford galaxie 500|    FORD GALAXIE 500|    ford galaxie 500|      low|  1|      8_15.0|        ford|
|14.0|        8|       454.0|     220.0| 4354.|         9.0|     1970|     1|    chevrolet impala|    CHEVROLET IMPALA|    chevrolet impala|      low|  1|      8_14.0|   chevrolet|
|14.0|        8|       440.0|     215.0| 4312.|         8.5|     1970|     1|   plymouth fury iii|   PLYMOUTH FURY III|   plymouth fury iii|      low|  1|      8_14.0|    plymouth|
|14.0|        8|       455.0|     225.0| 4425.|        10.0|     1970|     1|    pontiac catalina|    PONTIAC CATALINA|    pontiac catalina|      low|  1|      8_14.0|     pontiac|
|15.0|        8|       390.0|     190.0| 3850.|         8.5|     1970|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|      low|  1|      8_15.0|         amc|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
only showing top 10 rows

### Fill NULL values with column average

In [39]:
df.show(10)

+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|               upper|               lower|mpg_class|one|concatenated|manufacturer|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|     1970|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|      low|  1|      8_18.0|   chevrolet|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|     1970|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|      low|  1|      8_15.0|       buick|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|     1970|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|      low|  1|      8_18.0|    plymouth|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|     1970|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|      low|  1|      8_16.0|         amc|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|     1970|     1|         ford torino|         FORD TORINO|         ford torino|      low|  1|      8_17.0|        ford|
|15.0|        8|       429.0|     198.0| 4341.|        10.0|     1970|     1|    ford galaxie 500|    FORD GALAXIE 500|    ford galaxie 500|      low|  1|      8_15.0|        ford|
|14.0|        8|       454.0|     220.0| 4354.|         9.0|     1970|     1|    chevrolet impala|    CHEVROLET IMPALA|    chevrolet impala|      low|  1|      8_14.0|   chevrolet|
|14.0|        8|       440.0|     215.0| 4312.|         8.5|     1970|     1|   plymouth fury iii|   PLYMOUTH FURY III|   plymouth fury iii|      low|  1|      8_14.0|    plymouth|
|14.0|        8|       455.0|     225.0| 4425.|        10.0|     1970|     1|    pontiac catalina|    PONTIAC CATALINA|    pontiac catalina|      low|  1|      8_14.0|     pontiac|
|15.0|        8|       390.0|     190.0| 3850.|         8.5|     1970|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|      low|  1|      8_15.0|         amc|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
only showing top 10 rows

In [46]:
from pyspark.sql.functions import avg

df = df.fillna({"horses": df.agg(avg("horses")).first()[0]})
df.show(10)

+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
| mpg|cylinders|displacement|horses|weight|acceleration|year|origin|             carname|               upper|               lower|mpg_class|one|concatenated|manufacturer|
+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
|18.0|        8|       307.0| 130.0| 3504.|        12.0|1970|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|      low|  1|      8_18.0|   chevrolet|
|15.0|        8|       350.0| 165.0| 3693.|        11.5|1970|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|      low|  1|      8_15.0|       buick|
|18.0|        8|       318.0| 150.0| 3436.|        11.0|1970|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|      low|  1|      8_18.0|    plymouth|
|16.0|        8|       304.0| 150.0| 3433.|        12.0|1970|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|      low|  1|      8_16.0|         amc|
|17.0|        8|       302.0| 140.0| 3449.|        10.5|1970|     1|         ford torino|         FORD TORINO|         ford torino|      low|  1|      8_17.0|        ford|
|15.0|        8|       429.0| 198.0| 4341.|        10.0|1970|     1|    ford galaxie 500|    FORD GALAXIE 500|    ford galaxie 500|      low|  1|      8_15.0|        ford|
|14.0|        8|       454.0| 220.0| 4354.|         9.0|1970|     1|    chevrolet impala|    CHEVROLET IMPALA|    chevrolet impala|      low|  1|      8_14.0|   chevrolet|
|14.0|        8|       440.0| 215.0| 4312.|         8.5|1970|     1|   plymouth fury iii|   PLYMOUTH FURY III|   plymouth fury iii|      low|  1|      8_14.0|    plymouth|
|14.0|        8|       455.0| 225.0| 4425.|        10.0|1970|     1|    pontiac catalina|    PONTIAC CATALINA|    pontiac catalina|      low|  1|      8_14.0|     pontiac|
|15.0|        8|       390.0| 190.0| 3850.|         8.5|1970|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|      low|  1|      8_15.0|         amc|
+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
only showing top 10 rows

### Filter based on a specific column value

In [47]:
from pyspark.sql.functions import col

df_c_8 = df.where(col("cylinders") == "8")
df_c_8.show(10)

+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
| mpg|cylinders|displacement|horses|weight|acceleration|year|origin|             carname|               upper|               lower|mpg_class|one|concatenated|manufacturer|
+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
|18.0|        8|       307.0| 130.0| 3504.|        12.0|1970|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|      low|  1|      8_18.0|   chevrolet|
|15.0|        8|       350.0| 165.0| 3693.|        11.5|1970|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|      low|  1|      8_15.0|       buick|
|18.0|        8|       318.0| 150.0| 3436.|        11.0|1970|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|      low|  1|      8_18.0|    plymouth|
|16.0|        8|       304.0| 150.0| 3433.|        12.0|1970|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|      low|  1|      8_16.0|         amc|
|17.0|        8|       302.0| 140.0| 3449.|        10.5|1970|     1|         ford torino|         FORD TORINO|         ford torino|      low|  1|      8_17.0|        ford|
|15.0|        8|       429.0| 198.0| 4341.|        10.0|1970|     1|    ford galaxie 500|    FORD GALAXIE 500|    ford galaxie 500|      low|  1|      8_15.0|        ford|
|14.0|        8|       454.0| 220.0| 4354.|         9.0|1970|     1|    chevrolet impala|    CHEVROLET IMPALA|    chevrolet impala|      low|  1|      8_14.0|   chevrolet|
|14.0|        8|       440.0| 215.0| 4312.|         8.5|1970|     1|   plymouth fury iii|   PLYMOUTH FURY III|   plymouth fury iii|      low|  1|      8_14.0|    plymouth|
|14.0|        8|       455.0| 225.0| 4425.|        10.0|1970|     1|    pontiac catalina|    PONTIAC CATALINA|    pontiac catalina|      low|  1|      8_14.0|     pontiac|
|15.0|        8|       390.0| 190.0| 3850.|         8.5|1970|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|      low|  1|      8_15.0|         amc|
+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
only showing top 10 rows

### Filter based on an IN list

In [246]:
from pyspark.sql.functions import col

df_c_4_6 = df.where(col("cylinders").isin(["4", "6"]))
df_c_4_6.show(10)

+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
| mpg|cylinders|displacement|horses|weight|acceleration|year|origin|             carname|               upper|               lower|mpg_class|one|concatenated|manufacturer|
+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
|24.0|        4|       113.0|  95.0| 2372.|        15.0|1970|     3|toyota corona mar...|TOYOTA CORONA MAR...|toyota corona mar...|      mid|  1|      4_24.0|      toyota|
|22.0|        6|       198.0|  95.0| 2833.|        15.5|1970|     1|     plymouth duster|     PLYMOUTH DUSTER|     plymouth duster|      mid|  1|      6_22.0|    plymouth|
|18.0|        6|       199.0|  97.0| 2774.|        15.5|1970|     1|          amc hornet|          AMC HORNET|          amc hornet|      low|  1|      6_18.0|         amc|
|21.0|        6|       200.0|  85.0| 2587.|        16.0|1970|     1|       ford maverick|       FORD MAVERICK|       ford maverick|      mid|  1|      6_21.0|        ford|
|27.0|        4|       97.00|  88.0| 2130.|        14.5|1970|     3|        datsun pl510|        DATSUN PL510|        datsun pl510|      mid|  1|      4_27.0|      datsun|
|26.0|        4|       97.00|  46.0| 1835.|        20.5|1970|     2|volkswagen 1131 d...|VOLKSWAGEN 1131 D...|volkswagen 1131 d...|      mid|  1|      4_26.0|  volkswagen|
|25.0|        4|       110.0|  87.0| 2672.|        17.5|1970|     2|         peugeot 504|         PEUGEOT 504|         peugeot 504|      mid|  1|      4_25.0|     peugeot|
|24.0|        4|       107.0|  90.0| 2430.|        14.5|1970|     2|         audi 100 ls|         AUDI 100 LS|         audi 100 ls|      mid|  1|      4_24.0|        audi|
|25.0|        4|       104.0|  95.0| 2375.|        17.5|1970|     2|            saab 99e|            SAAB 99E|            saab 99e|      mid|  1|      4_25.0|        saab|
|26.0|        4|       121.0| 113.0| 2234.|        12.5|1970|     2|            bmw 2002|            BMW 2002|            bmw 2002|      mid|  1|      4_26.0|         bmw|
+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
only showing top 10 rows

### Multiple filter conditions

In [247]:
from pyspark.sql.functions import col

# OR
df_OR = df.filter((col("mpg") > "30") | (col("acceleration") < "10"))
# AND
df_AND = df.filter((col("mpg") > "30") & (col("acceleration") < "13"))

In [248]:
df_OR.show(10)

+----+---------+------------+------+------+------------+----+------+-------------------+-------------------+-------------------+---------+---+------------+------------+
| mpg|cylinders|displacement|horses|weight|acceleration|year|origin|            carname|              upper|              lower|mpg_class|one|concatenated|manufacturer|
+----+---------+------------+------+------+------------+----+------+-------------------+-------------------+-------------------+---------+---+------------+------------+
| 9.0|        8|       304.0| 193.0| 4732.|        18.5|1970|     1|           hi 1200d|           HI 1200D|           hi 1200d|      low|  1|       8_9.0|          hi|
|30.0|        4|       79.00|  70.0| 2074.|        19.5|1971|     2|        peugeot 304|        PEUGEOT 304|        peugeot 304|      mid|  1|      4_30.0|     peugeot|
|30.0|        4|       88.00|  76.0| 2065.|        14.5|1971|     2|          fiat 124b|          FIAT 124B|          fiat 124b|      mid|  1|      4_30.0|        fiat|
|31.0|        4|       71.00|  65.0| 1773.|        19.0|1971|     3|toyota corolla 1200|TOYOTA COROLLA 1200|toyota corolla 1200|     high|  1|      4_31.0|      toyota|
|35.0|        4|       72.00|  69.0| 1613.|        18.0|1971|     3|        datsun 1200|        DATSUN 1200|        datsun 1200|     high|  1|      4_35.0|      datsun|
|31.0|        4|       79.00|  67.0| 1950.|        19.0|1974|     3|        datsun b210|        DATSUN B210|        datsun b210|     high|  1|      4_31.0|      datsun|
|32.0|        4|       71.00|  65.0| 1836.|        21.0|1974|     3|toyota corolla 1200|TOYOTA COROLLA 1200|toyota corolla 1200|     high|  1|      4_32.0|      toyota|
|31.0|        4|       76.00|  52.0| 1649.|        16.5|1974|     3|      toyota corona|      TOYOTA CORONA|      toyota corona|     high|  1|      4_31.0|      toyota|
|32.0|        4|       83.00|  61.0| 2003.|        19.0|1974|     3|         datsun 710|         DATSUN 710|         datsun 710|     high|  1|      4_32.0|      datsun|
|31.0|        4|       79.00|  67.0| 2000.|        16.0|1974|     2|          fiat x1.9|          FIAT X1.9|          fiat x1.9|     high|  1|      4_31.0|        fiat|
+----+---------+------------+------+------+------------+----+------+-------------------+-------------------+-------------------+---------+---+------------+------------+
only showing top 10 rows

In [249]:
df_AND.show(10)

+----+---------+------------+------+------+------------+----+------+----------------+----------------+----------------+---------+---+------------+------------+
| mpg|cylinders|displacement|horses|weight|acceleration|year|origin|         carname|           upper|           lower|mpg_class|one|concatenated|manufacturer|
+----+---------+------------+------+------+------------+----+------+----------------+----------------+----------------+---------+---+------------+------------+
|32.7|        6|       168.0| 132.0| 2910.|        11.4|1980|     3|   datsun 280-zx|   DATSUN 280-ZX|   datsun 280-zx|     high|  1|      6_32.7|      datsun|
|30.0|        4|       135.0|  84.0| 2385.|        12.9|1981|     1|plymouth reliant|PLYMOUTH RELIANT|plymouth reliant|      mid|  1|      4_30.0|    plymouth|
|32.0|        4|       135.0|  84.0| 2295.|        11.6|1982|     1|   dodge rampage|   DODGE RAMPAGE|   dodge rampage|     high|  1|      4_32.0|       dodge|
+----+---------+------------+------+------+------------+----+------+----------------+----------------+----------------+---------+---+------------+------------+

### Sort DataFrame by a column

In [250]:
from pyspark.sql.functions import col

df_sorted_asc = df.orderBy("carname")
df_sorted_desc = df.orderBy(col("carname").desc())

In [251]:
df_sorted_asc.show(10)

+----+---------+------------+------------------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
| mpg|cylinders|displacement|            horses|weight|acceleration|year|origin|             carname|               upper|               lower|mpg_class|one|concatenated|manufacturer|
+----+---------+------------+------------------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
|13.0|        8|       360.0|             175.0| 3821.|        11.0|1973|     1|amc ambassador br...|AMC AMBASSADOR BR...|amc ambassador br...|      low|  1|      8_13.0|         amc|
|15.0|        8|       390.0|             190.0| 3850.|         8.5|1970|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|      low|  1|      8_15.0|         amc|
|17.0|        8|       304.0|             150.0| 3672.|        11.5|1972|     1|  amc ambassador sst|  AMC AMBASSADOR SST|  amc ambassador sst|      low|  1|      8_17.0|         amc|
|19.4|        6|       232.0|              90.0| 3210.|        17.2|1978|     1|         amc concord|         AMC CONCORD|         amc concord|      low|  1|      6_19.4|         amc|
|24.3|        4|       151.0|              90.0| 3003.|        20.1|1980|     1|         amc concord|         AMC CONCORD|         amc concord|      mid|  1|      4_24.3|         amc|
|18.1|        6|       258.0|             120.0| 3410.|        15.1|1978|     1|     amc concord d/l|     AMC CONCORD D/L|     amc concord d/l|      low|  1|      6_18.1|         amc|
|23.0|        4|       151.0|104.46938775510205| 3035.|        20.5|1982|     1|      amc concord dl|      AMC CONCORD DL|      amc concord dl|      mid|  1|      4_23.0|         amc|
|20.2|        6|       232.0|              90.0| 3265.|        18.2|1979|     1|    amc concord dl 6|    AMC CONCORD DL 6|    amc concord dl 6|      low|  1|      6_20.2|         amc|
|19.0|        6|       232.0|             100.0| 2634.|        13.0|1971|     1|         amc gremlin|         AMC GREMLIN|         amc gremlin|      low|  1|      6_19.0|         amc|
|21.0|        6|       199.0|              90.0| 2648.|        15.0|1970|     1|         amc gremlin|         AMC GREMLIN|         amc gremlin|      mid|  1|      6_21.0|         amc|
+----+---------+------------+------------------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
only showing top 10 rows

In [252]:
df_sorted_desc.show(10)

+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
| mpg|cylinders|displacement|horses|weight|acceleration|year|origin|             carname|               upper|               lower|mpg_class|one|concatenated|manufacturer|
+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
|31.9|        4|       89.00|  71.0| 1925.|        14.0|1979|     2|    vw rabbit custom|    VW RABBIT CUSTOM|    vw rabbit custom|     high|  1|      4_31.9|          vw|
|44.3|        4|       90.00|  48.0| 2085.|        21.7|1980|     2|vw rabbit c (diesel)|VW RABBIT C (DIESEL)|vw rabbit c (diesel)|very high|  1|      4_44.3|          vw|
|29.0|        4|       90.00|  70.0| 1937.|        14.2|1976|     2|           vw rabbit|           VW RABBIT|           vw rabbit|      mid|  1|      4_29.0|          vw|
|41.5|        4|       98.00|  76.0| 2144.|        14.7|1980|     2|           vw rabbit|           VW RABBIT|           vw rabbit|very high|  1|      4_41.5|          vw|
|44.0|        4|       97.00|  52.0| 2130.|        24.6|1982|     2|           vw pickup|           VW PICKUP|           vw pickup|very high|  1|      4_44.0|          vw|
|43.4|        4|       90.00|  48.0| 2335.|        23.7|1980|     2|  vw dasher (diesel)|  VW DASHER (DIESEL)|  vw dasher (diesel)|very high|  1|      4_43.4|          vw|
|30.7|        6|       145.0|  76.0| 3160.|        19.6|1981|     2|        volvo diesel|        VOLVO DIESEL|        volvo diesel|      mid|  1|      6_30.7|       volvo|
|17.0|        6|       163.0| 125.0| 3140.|        13.6|1978|     2|         volvo 264gl|         VOLVO 264GL|         volvo 264gl|      low|  1|      6_17.0|       volvo|
|20.0|        4|       130.0| 102.0| 3150.|        15.7|1976|     2|           volvo 245|           VOLVO 245|           volvo 245|      low|  1|      4_20.0|       volvo|
|22.0|        4|       121.0|  98.0| 2945.|        14.5|1975|     2|         volvo 244dl|         VOLVO 244DL|         volvo 244dl|      mid|  1|      4_22.0|       volvo|
+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
only showing top 10 rows

### Get distinct values of a column

In [253]:
df_c_distinct = df.select("cylinders").distinct()
df_c_distinct.show(10)

+---------+
|cylinders|
+---------+
|        3|
|        8|
|        5|
|        6|
|        4|
+---------+

### Remove duplicates

In [254]:
df_r_dup = df.dropDuplicates(["carname"])
df_r_dup.show(10)

+----+---------+------------+------------------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
| mpg|cylinders|displacement|            horses|weight|acceleration|year|origin|             carname|               upper|               lower|mpg_class|one|concatenated|manufacturer|
+----+---------+------------+------------------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
|13.0|        8|       360.0|             175.0| 3821.|        11.0|1973|     1|amc ambassador br...|AMC AMBASSADOR BR...|amc ambassador br...|      low|  1|      8_13.0|         amc|
|15.0|        8|       390.0|             190.0| 3850.|         8.5|1970|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|      low|  1|      8_15.0|         amc|
|17.0|        8|       304.0|             150.0| 3672.|        11.5|1972|     1|  amc ambassador sst|  AMC AMBASSADOR SST|  amc ambassador sst|      low|  1|      8_17.0|         amc|
|19.4|        6|       232.0|              90.0| 3210.|        17.2|1978|     1|         amc concord|         AMC CONCORD|         amc concord|      low|  1|      6_19.4|         amc|
|18.1|        6|       258.0|             120.0| 3410.|        15.1|1978|     1|     amc concord d/l|     AMC CONCORD D/L|     amc concord d/l|      low|  1|      6_18.1|         amc|
|23.0|        4|       151.0|104.46938775510205| 3035.|        20.5|1982|     1|      amc concord dl|      AMC CONCORD DL|      amc concord dl|      mid|  1|      4_23.0|         amc|
|20.2|        6|       232.0|              90.0| 3265.|        18.2|1979|     1|    amc concord dl 6|    AMC CONCORD DL 6|    amc concord dl 6|      low|  1|      6_20.2|         amc|
|21.0|        6|       199.0|              90.0| 2648.|        15.0|1970|     1|         amc gremlin|         AMC GREMLIN|         amc gremlin|      mid|  1|      6_21.0|         amc|
|18.0|        6|       199.0|              97.0| 2774.|        15.5|1970|     1|          amc hornet|          AMC HORNET|          amc hornet|      low|  1|      6_18.0|         amc|
|18.0|        6|       258.0|             110.0| 2962.|        13.5|1971|     1|amc hornet sporta...|AMC HORNET SPORTA...|amc hornet sporta...|      low|  1|      6_18.0|         amc|
+----+---------+------------+------------------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
only showing top 10 rows

### Group and sort

In [255]:
from pyspark.sql.functions import avg, desc

df_g_s = (
    df.groupBy("cylinders")
    .agg(avg("horses").alias("_avg_horses"))
    .orderBy(desc("_avg_horses"))
)
df_g_s.show(10)

+---------+------------------+
|cylinders|       _avg_horses|
+---------+------------------+
|        8| 158.3009708737864|
|        6|101.54130223517978|
|        3|             99.25|
|        5| 82.33333333333333|
|        4| 78.92326930772307|
+---------+------------------+

### Filter groups based on an aggregate value, equivalent to SQL HAVING clause

In [256]:
from pyspark.sql.functions import col, desc

df_g_s_h = (
    df.groupBy("cylinders")
    .count()
    .orderBy(desc("count"))
    .filter(col("count") > 100)
)
df_g_s_h.show(10)

+---------+-----+
|cylinders|count|
+---------+-----+
|        4|  204|
|        8|  103|
+---------+-----+

### Get the maximum of a column

In [257]:
from pyspark.sql.functions import col, max

df_horses_max = df.select(max(col("horses")).alias("max_horses"))
df_horses_max.show(10)

+----------+
|max_horses|
+----------+
|     230.0|
+----------+

### Get the minimum of a column

In [258]:
from pyspark.sql.functions import col, min

df_horses_min = df.select(min(col("horses")).alias("min_horses"))
df_horses_min.show(10)

+----------+
|min_horses|
+----------+
|      46.0|
+----------+

## Spark SQL

### Run a SparkSQL Statement on a DataFrame

Register the DataFrame as a temporary table using createOrReplaceTempView('tableName').

Temporary Table:
- A temporary table refers to a table that is created and exists only for the duration of the Spark session.
- Allowing you to perform SQL queries on that DataFrame using Spark SQL.

In [259]:
from pyspark.sql.functions import col, regexp_extract

df.createOrReplaceTempView("auto_df")

In [260]:
df_sql = spark.sql(
    "select year, avg(mpg) from auto_df group by year"
)

In [261]:
df_sql.show(10)

+----+------------------+
|year|          avg(mpg)|
+----+------------------+
|1972|18.714285714285715|
|1977|            23.375|
|1971|             21.25|
|1982| 31.70967741935484|
|1981| 30.33448275862069|
|1978|24.061111111111114|
|1974|22.703703703703702|
|1976|21.573529411764707|
|1973|              17.1|
|1980|33.696551724137926|
+----+------------------+
only showing top 10 rows

## Spark MLlib

In [262]:
df.show(10)

+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
| mpg|cylinders|displacement|horses|weight|acceleration|year|origin|             carname|               upper|               lower|mpg_class|one|concatenated|manufacturer|
+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
|18.0|        8|       307.0| 130.0| 3504.|        12.0|1970|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|      low|  1|      8_18.0|   chevrolet|
|15.0|        8|       350.0| 165.0| 3693.|        11.5|1970|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|      low|  1|      8_15.0|       buick|
|18.0|        8|       318.0| 150.0| 3436.|        11.0|1970|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|      low|  1|      8_18.0|    plymouth|
|16.0|        8|       304.0| 150.0| 3433.|        12.0|1970|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|      low|  1|      8_16.0|         amc|
|17.0|        8|       302.0| 140.0| 3449.|        10.5|1970|     1|         ford torino|         FORD TORINO|         ford torino|      low|  1|      8_17.0|        ford|
|15.0|        8|       429.0| 198.0| 4341.|        10.0|1970|     1|    ford galaxie 500|    FORD GALAXIE 500|    ford galaxie 500|      low|  1|      8_15.0|        ford|
|14.0|        8|       454.0| 220.0| 4354.|         9.0|1970|     1|    chevrolet impala|    CHEVROLET IMPALA|    chevrolet impala|      low|  1|      8_14.0|   chevrolet|
|14.0|        8|       440.0| 215.0| 4312.|         8.5|1970|     1|   plymouth fury iii|   PLYMOUTH FURY III|   plymouth fury iii|      low|  1|      8_14.0|    plymouth|
|14.0|        8|       455.0| 225.0| 4425.|        10.0|1970|     1|    pontiac catalina|    PONTIAC CATALINA|    pontiac catalina|      low|  1|      8_14.0|     pontiac|
|15.0|        8|       390.0| 190.0| 3850.|         8.5|1970|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|      low|  1|      8_15.0|         amc|
+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+---------+---+------------+------------+
only showing top 10 rows

In [264]:
df = df.withColumn("cylinders", col("cylinders").cast("int"))
df = df.withColumn("displacement", col("displacement").cast("double"))
df = df.withColumn("weight", col("weight").cast("double"))
df = df.withColumn("acceleration", col("acceleration").cast("double"))
df = df.withColumn("year", col("year").cast("int"))
df = df.withColumn("origin", col("origin").cast("int"))
df = df.withColumn("mpg", col("mpg").cast("int"))

In [265]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression
from pyspark.ml import Pipeline
from pyspark.ml.evaluation import RegressionEvaluator

In [266]:
# Create a vector assembler to combine features into a single vector
feature_columns = ["cylinders", "displacement", "weight", "acceleration", "year", "origin"]
vector_assembler = VectorAssembler(inputCols=feature_columns, outputCol="features")

In [267]:
# Define the linear regression model
lr = LinearRegression(featuresCol="features", labelCol="mpg")

In [268]:
# Create a pipeline with the vector assembler and linear regression model
pipeline = Pipeline(stages=[vector_assembler, lr])

In [270]:
# Split the data into training and testing sets
train_data, test_data = df.randomSplit([0.8, 0.2], seed=123)

In [271]:
# Train the model
model = pipeline.fit(train_data)

In [272]:
# Make predictions on the test set
predictions = model.transform(test_data)

In [273]:
# Evaluate the model
evaluator = RegressionEvaluator(labelCol="mpg", predictionCol="prediction", metricName="rmse")
rmse = evaluator.evaluate(predictions)
print(f"Root Mean Squared Error (RMSE): {rmse}")

Root Mean Squared Error (RMSE): 3.894295365613553

In [274]:
# Display the coefficients and intercept of the model
coefficients = model.stages[-1].coefficients
intercept = model.stages[-1].intercept
print(f"Coefficients: {coefficients}")
print(f"Intercept: {intercept}")

Coefficients: [-0.21716965239355826,0.020181368672792827,-0.00749224599870745,0.16648286955673947,0.7664054901564268,1.6536855279104747]
Intercept: -1476.7949789160764

In [135]:
spark.stop()